
@import "tailwindcss";

@theme {
  --container-padding: 15px;
  --color-primary: #1c1c22;
  --color-accent: #4C79FF;
  --color-accent-hover: #3C6DFF;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1200px;

  --font-primary: var(--font-jetbrains-mono);
}

body{
  font-family: var(--font-primary), monospace;
  background-color: var(--color-primary);
  color: white;
  line-height: 2;
  


}